<div class="container-fluid mt-5 pt-5" style="background-color: rgb(197, 230, 232)">
  <div style="text-decoration:underline">
  <h1 class="text-center text-info ">Purchase Details:</h1></div>
  <input type="text" name="nameTerm" class="mt-3" [(ngModel)]=nameTerm>
  <table class="table table-striped  mt-5 pt-5">
    <thead>
      <th>Person Id</th>
      <th>Name</th>
      <th>course Id</th>
      
      <th>course Name</th>
      <th>Email Id</th>
      <th>Phone Number</th>
    </thead>
    <tr *ngFor="let i of data | name:nameTerm | paginate:{itemsPerPage:3,currentPage:p}">
      <td>{{i.personid}}</td>
      <td>{{i.name}}</td>
      <td>{{i.courseid}}</td>
      <td>{{i.coursename}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>