<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
          <div class="mx-auto d-block mt-5 pt-5 ">
            <img src="assets/whythis.jpg" class="rounded img-fluid"
            width="1000px"  height="600px" alt="Image">
            <div class="display-3  text-danger" >What is the use</div>
            <p class="text-white mt-4" style="text-indent:100px">Content writing is a form of online writing which is closely linked to web marketing campaigns.
                This means creating the writing which appears on websites that are designed to
                sell or promote a specific product. Content writers work according to the brief provided by a client.</p>
              <ol class="text-danger"><h1>Benifits of this course:</h1>
                <li class="text-white">Variety of programs and courses</li>
                <li class="text-white">Lower total costs</li>
                <li class="text-white">More comfortable learning environment</li>
                <li class="text-white">Convenience and flexibility</li>
                <li class="text-white">More interaction and greater ability to concentrate</li>
                <li class="text-white">Career advancement</li>
                <li class="text-white" >Continue in your profession</li>
                <li class="text-white">Avoid commuting</li>
                <li class="text-white">Improve your technical skills</li>
                <li class="text-white">Transfer credits</li>


              </ol>
             </div>
        </div>
        <div class="col-sm-3"></div>
      </div>


      
</div>
