<div class="card-deck mt-5 pt-5">
  <div class="card">
    <div class="card-head">
      <h4 class="text-dark text-center">Java</h4>
    </div>
    <div class="card-body">
      <img src="https://lh3.googleusercontent.com/HvR-MKlFckEL7KesQ5GtMlyLqIGvcXz8-maI8fWzYryTy8QcTLbnKC0X7AkSF_E8Ew"
      width= "100px" alt="Image">
      <h2 class="card-title text-secondary"> Core Java</h2>
      <p>Is is an based on OOPS <br> concept</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success float-right">SHOW</button>
    </div>
    </div>

    <div class="card">
      <div class="card-head">
        <h4 class="text-dark text-center">Java</h4>
      </div>
      <div class="card-body">
        <img src="https://lh3.googleusercontent.com/HvR-MKlFckEL7KesQ5GtMlyLqIGvcXz8-maI8fWzYryTy8QcTLbnKC0X7AkSF_E8Ew"
        width= "100px" alt="Image">
        <h2 class="card-title text-secondary"> Core Java</h2>
        <p>Is is an based on OOPS <br> concept</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success float-right">SHOW</button>
      </div>
      </div>

      <div class="card">
        <div class="card-head">
          <h4 class="text-dark text-center">Java</h4>
        </div>
        <div class="card-body">
          <img src="https://lh3.googleusercontent.com/HvR-MKlFckEL7KesQ5GtMlyLqIGvcXz8-maI8fWzYryTy8QcTLbnKC0X7AkSF_E8Ew"
          width= "100px" alt="Image">
          <h2 class="card-title text-secondary"> Core Java</h2>
          <p>Is is an based on OOPS <br> concept</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-success float-right">SHOW</button>
        </div>
        </div>


        <div class="card">
          <div class="card-head">
            <h4 class="text-dark text-center">Java</h4>
          </div>
          <div class="card-body">
            <img src="https://lh3.googleusercontent.com/HvR-MKlFckEL7KesQ5GtMlyLqIGvcXz8-maI8fWzYryTy8QcTLbnKC0X7AkSF_E8Ew"
            width= "100px" alt="Image">
            <h2 class="card-title text-secondary"> Core Java</h2>
            <p>Is is an based on OOPS <br> concept</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-success float-right">SHOW</button>
          </div>
          </div>


          <div class="card">
            <div class="card-head">
              <h4 class="text-dark text-center">Java</h4>
            </div>
            <div class="card-body">
              <img src="https://lh3.googleusercontent.com/HvR-MKlFckEL7KesQ5GtMlyLqIGvcXz8-maI8fWzYryTy8QcTLbnKC0X7AkSF_E8Ew"
              width= "100px" alt="Image">
              <h2 class="card-title text-secondary"> Core Java</h2>
              <p>Is is an based on OOPS <br> concept</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-success float-right">SHOW</button>
            </div>
            </div>


</div>
<router-outlet></router-outlet>