<div class="container-fluid">

<div class="card-deck">

    <div class="card">

        <div class="card-header">
            <h1 class="text-info text-center mt-5 pt-4">Java</h1>
        </div>

        <div class="card-body">
            <img src="http://nighthacks.com/jag/bio/JamesInViennaEnjoyingBeer.jpg" width="300" alt="Image of author">
            Java was originally developed by James Gosling at Sun Microsystems  
             (which has since been acquired by Oracle Corporation) and released in 1995 as a core component <br>
              of Sun Microsystems' Java platform. The language derives much of its syntax from C and C++, 
            but it has fewer low-level facilities than either of them.
            <h2 class="card-title"> Author: James Gosling</h2>
        </div>
            <button type="button" class="btn btn-success float-right">Add To Cart</button>
        
    </div>

    <div class="card">

            <div class="card-header">
                <h1 class="text-info text-center mt-5 pt-4">C++</h1>
            </div>
    
            <div class="card-body">
                <img src="https://pbs.twimg.com/media/Db17T0yWsAAE0t-.jpg" width="280" alt="Image of author">
                Before the initial standardization in 1998, C++ was developed by Bjarne Stroustrup at Bell Labs since 1979,
                 as an extension of the C language as he wanted an efficient and flexible language similar to C, 
                which also provided high-level features for program organization. <br>
                <h2 class="card-title"> Author: Bjarne Stroustrup</h2>
            </div>
            <button type="button" class="btn btn-success float-right">Add To Cart</button>

        </div>

        <div class="card">

                <div class="card-header">
                    <h1 class="text-info text-center mt-5 pt-4">C</h1>
                </div>
        
                <div class="card-body">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Dennis_Ritchie_2011.jpg/220px-Dennis_Ritchie_2011.jpg"
                     width="238" alt="Image of author"> <br>
                    Jump to C and Unix - Ritchie is best known as the creator of the C programming language,
                     a key developer of the Unix operating system, and co-author of the book The C Programming Language; 
                     he was the 'R' in K&R 
                    (a common reference to the book's authors Kernighan and Ritchie).
                    <h2 class="card-title"> Author: Dennis Ritchie</h2>
                </div>
                <button type="button" class="btn btn-success float-right">Add To Cart</button>
                
            </div>
        
</div>
<div class="row"></div>

<div class="card-deck">

        <div class="card">
    
            <div class="card-header">
                <h1 class="text-info text-center ">Angular</h1>
            </div>
    
            <div class="card-body">
                <img src="https://pluralsight.imgix.net/author/lg/deborah-kurata-v1.jpg?w=200" 
                width="300" alt="Image of author"><br>
                On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview. 
                Angular 2 moved to Beta in December 2015,
                 and the first release candidate was published in May 2016. <br>
                <h2 class="card-title"> Author:Deborah Kurata</h2>
            </div>
            <button type="button" class="btn btn-success float-right">Add To Cart</button>
        </div>
    
        <div class="card">
    
                <div class="card-header">
                    <h1 class="text-info text-center  ">Mean Stack</h1>
                </div>
        
                <div class="card-body">
                    <img src="https://miro.medium.com/max/1216/1*ZsNjJ6YCyTAWNA3RGYCtaw.png" 
                    width="300" height="300" alt="Image of author"> <br> 
                    The term MEAN stack refers to a collection of JavaScript based technologies used to develop web applications.
                    s an acronym for MongoDB, ExpressJS, AngularJS and Node.js.
                     From client to server to database, MEAN is full stack JavaScript.
                </div>
                <button type="button" class="btn btn-success float-right">Add To Cart</button>
            </div>
    
            
            
    </div>
</div>