<!-- carousel slide -->
<div class="carousel slide pt-5 mt-5" id="demo" data-ride="carousel">
  
  <div class="carousel-inner">
   
    <div class="carousel-item active ml-3">
      <img src="assets/pro1.jpg"
      class="img-fluid"  width="1660px"   alt="Image">
      <div class="carousel-caption">
                Its your time to start <br>As you wish
        </div>
    </div>
    
    
    <div class="carousel-item ml-3">
        <img src="assets/rsz_pro2.jpg"
        class="img-fluid" width="1660px" alt="Image">
      </div>
    
    <div class="carousel-item ml-3">
      <img src="assets/rsz_pro3.jpg"
      class="img-fluid" width="1660px" height="600px"  alt="Image">
    </div>

  </div>

  <ol class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ol>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>     
    </div>
    <div class="container-fluid">
        <div class="jumbotron" >
            <h1 class="text-center text-danger" style="text-decoration:underline">About us:</h1>
            <div class="row">
              <div class="col-sm-6 mt-5 text-dark">
                <h4>We are also conect with:</h4>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png"
                      width="50px" alt="Image facebook">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Pinterest_Shiny_Icon.svg"
                    width="60px" alt="ImagePinterst">
                  <img src="https://image.freepik.com/free-vector/instagram-icon_1057-2227.jpg" 
                   width="70px" alt="instagram">
              </div>
              <div class="col-sm-6 mt-5 text-dark">
                <p><b>Course Wala</b></p>
                <P><b>Email:Course@123gmail.com</b></P>
                <p><b>Number:+91 8639942426,9952488955</b></p>
                <p><b>Visit us to comment</b></p>
              </div>
            </div>
          </div>
    </div>

    <router-outlet></router-outlet>
    
